<!-- <h1>Hello Frontend</h1> -->
<!-- <div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row"> -->
      <!-- <app-sidebar class="col-sm-3"></app-sidebar> -->
      <!-- <app-main class="col-sm-9"></app-main> -->
      <!-- <app-main class="col-sm-12"></app-main> -->

      <!-- <app-products-list class="col-sm-12"></app-products-list> -->

      <!-- Day4 -->
      <!-- <app-products-parent></app-products-parent> -->
      <!-- <div class="col-sm-12"> -->


        <!-- Day4 -->
        <!-- <app-navbar></app-navbar>

        <router-outlet></router-outlet> -->

      <!-- </div>
    </div>
  </div> -->
  <!-- <app-footer></app-footer>
</div> -->





<!-- Second case -->

<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">

      <div class="col-sm-12">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
